     h1{
        color : white; 
     }
     *{
         border-style : hidden; 
     }
  .c1{
      background-color:darkturquoise;
      border-style:solid ;
      display:flex;
      justify-content:space-between;
  }
 
  .c3{
   display: flex;
   justify-content: center;
  }

  .c4{
      display: flex;
      justify-content: space-evenly;
  }

  
  .c5{
      display: flex;
      justify-content: flex-end;
  }
  body{
      background-color: #4F2586;
      color : #F18551;
  }